<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Khalimbetov Ulugbek</title>
  <meta name="title" content="Khalimbetov Ulugbek - Software Engineer & Back-End Developer">

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&display=swap" rel="stylesheet">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <!--
    - preload images
  -->
  <link rel="preload" as="image" href="{% static '/images/hero-banner.jpg' %}">

</head>

<body>

  <!--
    - #PRELOADER
  -->

  <div class="preloader" data-preloader>
    <div class="circle"></div>
  </div>





  <!--
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static '/images/logo.svg' %}" width="170" height="40" alt="Pfolio home">
      </a>

      <button class="nav-toggle-btn" data-nav-toggler data-nav-toggle-btn aria-label="Toggle menu">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
      </button>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="{% url 'home' %}" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#service-id" class="navbar-link">Services</a>
          </li>

          <li>
            <a href="#portfolio" class="navbar-link">Portfolio</a>
          </li>

          <li>
            <a href="#blog" class="navbar-link">Blog</a>
          </li>

          <li>
            <a href="#Contact" class="navbar-link">Contact</a>
          </li>

        </ul>
      </nav>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!--
        - #HERO
      -->

      <section class="section hero" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <h1 style="font-size: 40px" class="h1 hero-title">Khalimbetov Ulugbek</h1>

            <p class="hero-subtitle">
              Software Engineer & Back-end Developer
            </p>

            <div class="hero-banner">
              <img src="{% static 'images/hero2.png' %}" width="500" height="300" alt="kane williams" class="w-100">
            </div>

            <p class="section-text">
              3rd-year computer science student seeking professional opportunities in software development, proficient in Python, C, SQL, and
Java, with experience in teaching ”Advanced C” and a solid understanding of algorithms and data structures.
            </p>

            <a href="{% static 'KhalimbetovUlugbekResume.pdf' %}" class="btn has-before"  download>
              <span class="span">Download Porfolio</span>

              <ion-icon name="download-outline" aria-hidden="true"></ion-icon>
            </a>

          </div>

        </div>
      </section>





      <!--
        - #SERVICE
      -->

      <section id="service-id" class="service" aria-labelledby="service-label">
        <div class="container">

          <div class="title-wrapper">

            <div>
              <p class="section-subtitle">
                Services That I Provide
              </p>

              <h2 class="h2 section-title" id="service-label">Services</h2>
            </div>

            <p class="section-text">
              My goal is to help businesses and individuals achieve their online goals through the use of cutting-edge technology and effective marketing strategies. Whether you need help with a new software or an existing one, I am here to help. Below, you will find a list of the services that I offer.
            </p>

          </div>

          <div class="slider" data-slider>

            <ul class="slider-container service-list" data-slider-container>

              <li class="slider-item" data-slider-item>
                <div class="service-card">

                  <div class="card-icon">
                    <ion-icon name="desktop-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Back-end Development</h3>

                  <p class="card-text">
                    I specialize in building and maintaining back-end systems using a variety of programming languages and frameworks.
                  </p>

                  <span class="text-lg card-number">01</span>

                  <a href="#" class="layer-link" aria-label="More about my website design service"></a>

                </div>
              </li>

              <li class="slider-item" data-slider-item>
                <div class="service-card">

                  <div class="card-icon">
                    <ion-icon name="podium-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Optimazation</h3>

                  <p class="card-text">
                    I can help you improve the performance and scalability of your existing systems.
                  </p>

                  <span class="text-lg card-number">02</span>

                  <a href="#" class="layer-link" aria-label="More about my SEO Marketing service"></a>

                </div>
              </li>

              <li class="slider-item" data-slider-item>
                <div class="service-card">

                  <div class="card-icon">
                    <ion-icon name="basket-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Deploying</h3>

                  <p class="card-text">
                    I can help you to deploy your web applications on different platforms like AWS, Azure, and DigitalOcean.
                  </p>

                  <span class="text-lg card-number">03</span>

                  <a href="#" class="layer-link" aria-label="More about my eCommerce service"></a>

                </div>
              </li>

              <li class="slider-item" data-slider-item>
                <div class="service-card">

                  <div class="card-icon">
                    <ion-icon name="color-filter-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Graphic Design</h3>

                  <p class="card-text">
                    I can help you create a visually appealing and user-friendly design for your website or application.
                  </p>

                  <span class="text-lg card-number">04</span>

                  <a href="#" class="layer-link" aria-label="More about my Graphic Design service"></a>

                </div>
              </li>

              <li class="slider-item" data-slider-item>
                <div class="service-card">

                  <div class="card-icon">
                    <ion-icon name="megaphone-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Digital Marketing</h3>

                  <p class="card-text">
                    I can help you increase your online presence and reach more customers through effective digital marketing strategies.
                  </p>

                  <span class="text-lg card-number">05</span>

                  <a href="#" class="layer-link" aria-label="More about my Digital Marketing service"></a>

                </div>
              </li>

              <li class="slider-item" data-slider-item>
                <div class="service-card">

                  <div class="card-icon">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Social Media</h3>

                  <p class="card-text">
                    I can help you manage your social media accounts and create a consistent brand image across different platforms.
                  </p>

                  <span class="text-lg card-number">06</span>

                  <a href="#" class="layer-link" aria-label="More about my Social Media service"></a>

                </div>
              </li>

            </ul>

            <div class="slider-controls">
              <button class="slider-control prev" data-slider-prev aria-label="Slide to previous item">
                <div class="line"></div>
                <div class="arrow"></div>
              </button>

              <button class="slider-control next" data-slider-next aria-label="Slide to next item">
                <div class="line"></div>
                <div class="arrow"></div>
              </button>
            </div>

          </div>

        </div>
      </section>





      <!--
        - #SKILLS
      -->

      <section class="section skills" aria-label="our skills">
        <div class="container">

          <p class="section-subtitle">I Make The Future</p>

          <h2 class="h2 section-title">Skills</h2>

          <div class="skills-wrapper">
              <div class="skills-wrapper-item">
                <div class="name-of-skill">
                    Languages
                </div>
                <div class="skills-example">
                  <p class="skill-item">Html</p> <p class="skill-item">Css</p> <p class="skill-item">JavaScript</p> <p class="skill-item">Python</p> <p class="skill-item">C</p> <p class="skill-item">Java</p>
                </div>
              </div>
            <hr>
            <div class="skills-wrapper-item">
                <div class="name-of-skill">
                    Tools
                </div>
                <div class="skills-example">
                  <p class="skill-item">Monday.com</p> <p class="skill-item">Github</p> <p class="skill-item">Google Collab</p>
                </div>
              </div>
            <hr>
            <div class="skills-wrapper-item">
                <div class="name-of-skill">
                    Frameworks
                </div>
                <div class="skills-example">
                  <p class="skill-item">Bootstrap4</p> <p class="skill-item">Sklearn</p> <p class="skill-item">Django</p> <p class="skill-item">Pandas</p> <p class="skill-item">matplotlib</p>
                </div>
              </div>
          </div>

        </div>
      </section>





      <!--
        - #PORTFOLIO
      -->

      <section id="portfolio" class="portfolio" aria-labelledby="portfolio-label">

        <div class="title-wrapper container">

          <div>
            <p class="section-subtitle" id="portfolio-label">My Works</p>

            <h2 class="h2 section-title">Portfolio</h2>
          </div>

          <p class="section-text">
            Here, you will find a showcase of my projects and accomplishments as a software engineer and back-end developer. This is where my skills, experience, and passion come to life. I have put together a collection of my best works that showcase my abilities and highlight my expertise in back-end development. Take a look, and see for yourself how I can bring value to your next project.
          </p>

        </div>

        <div class="slider" data-slider>

          <ul class="slider-container" data-slider-container>
            {% for portfolio in portfolios %}
            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="{{ portfolio.img.url }}" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                  <h3 class="h3 card-title">{{ portfolio.title }}</h3>

                  <p class="card-text">{{ portfolio.description }}</p>
                </div>

                <a href="{{ portfolio.url }}" class="layer-link"></a>

              </div>
            </li>
            {% endfor %}

          </ul>

          <div class="slider-controls">
            <button class="slider-control prev" data-slider-prev aria-label="Slide to previous item">
              <div class="line"></div>
              <div class="arrow"></div>
            </button>

            <button class="slider-control next" data-slider-next aria-label="Slide to next item">
              <div class="line"></div>
              <div class="arrow"></div>
            </button>
          </div>

        </div>

      </section>





      <!--
        - #BLOG
      -->

      <section id="blog" class="section blog" aria-labelledby="blog-label">
        <div class="container">

          <p class="section-subtitle" id="blog-label">Recent Articles</p>

          <h2 class="h2 section-title">Latest News</h2>

          <ul class="blog-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 700; --height: 470;">
                  <img src="{% static '/images/img_1.png' %}" width="700" height="470" loading="lazy"
                    alt="Get Started With Tiktok Ads." class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="time" datetime="2022-06-24">
                    <span class="span text-lg">24</span>
                    June 2022
                  </time>

                  <div>
                    <h3 class="h3 card-title">Python - Unpacking.</h3>

                    <p class="card-text">
                     In this mini tutorial we will go step by step to fully understand haw unpacking works in Python.
                    </p>

                    <a href="https://medium.com/@benkuamv/python-unpacking-f7404d9738bf" class="btn has-before">
                      <span class="span">Read more</span>

                      <ion-icon name="arrow-forward"></ion-icon>
                    </a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 700; --height: 470;">
                  <img src="{% static '/images/img_3.png' %}" width="700" height="470" loading="lazy"
                    alt="UX in Ecommerce – 5 things to avoid." class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="time" datetime="2022-06-27">
                    <span class="span text-lg">27</span>
                    June 2022
                  </time>

                  <div>
                    <h3 class="h3 card-title">Jupyter Notebooks boost.</h3>

                    <p class="card-text">
                     discovered Jupyter Notebooks a few months ago when I got serious about machine learning.
                    </p>

                    <a href="https://medium.com/@benkuamv/jupyter-notebooks-boost-4006e074afae" class="btn has-before">
                      <span class="span">Read more</span>

                      <ion-icon name="arrow-forward"></ion-icon>
                    </a>
                  </div>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>


<main id="Contact">
            <div class="title">Contact us</div>
            <div class="title-info">We'll get back to you soon!</div>

            <form action="/" method="post" class="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="button-div">
                    <button type="submit">Send</button>
                </div>
            </form>
        </main>



  <footer class="footer">
    <div class="container">

      <ul class="footer-list">

        <li>
          <p class="h4 footer-list-title">Get in touch</p>
        </li>

        <li>
          <a href="mailto:khalimbetovsulugbek@gmail.com" class="footer-link">khalimbetovsulugbek@gmail.com</a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="h4 footer-list-title">Locations</p>
        </li>

        <li>
          <a href="#" class="footer-link">Seoul — South Korea</a>
        </li>

      </ul>

      <ul class="social-list">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-dribbble"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-skype"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/ulugbek-khalimbetov-147b941a8/" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

      </ul>

    </div>
  </footer>




`
  <!-- 
    - custom js link
  -->
  <script src="{% static '/js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>